html, body, #root {
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

main {
  flex-grow: 1;
  display: flex;
  max-height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.centered {
  box-sizing: border-box;
  display: inline-flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  box-sizing: border-box;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 5px;
  width: 100%;
  overflow: hiden;
}

.boardWrapper {
  overflow: scroll;
  max-height: 100vh;
  display: flex;
  flex-grow: 1;
}

.board {
  box-sizing: border-box;
  max-height: 100%;
  flex-grow: 1;
  display: grid;
  height: fit-content;
}


.tile {
  box-sizing: border-box;
  aspect-ratio: 1 / 1;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editor {
  flex-grow: 1;
  display: flex;
  overflow: hidden;
  gap: 10px;
}

.template-container {
  display: flex;
  flex-direction: column;
  min-width: 7vw;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
